{% extends 'rai/views/default/common.html' %}
{% load rai_tags i18n %}



{% block page_header_inner %}
<h1 class="h4 d-inline-block mr-3">
  <span class="d-block">
    <span class="text-muted font-weight-lighter mb-1" style="font-size:12pt">
      <i class="{{icon_font|default:"fas"}} fa-{{icon|default:"list-alt"}}"></i> {{ action_label|default:"Liste" }}
    </span>
  </span>
  {{ title }}
</h1>
    {% include 'rai/views/default/list/search-field.html' %}
{% endblock %}

{% block content %}
<ul class="list-group" id="mainlist" data-rubion-original-object-count="{{original_object_count}}">
  {% for object in objects %}
      {% render_object_in_list object item_template visible_fields %}
  {% endfor %}
</ul>

{% endblock %}
{% block modals %}
{{ block.super }}
{% include 'rai/generic/modal_header.html' with size="lg" backdrop="static" id="filterModal" title="Filter settings" %}
<form id="filterForm" action=".">
  {% csrf_token %}
  {{ filter_form }}
</form>
{% include 'rai/generic/modal_footer.html' with id="filterModal" cancel_button=True apply_button=True save_button=True%}

{% include 'rai/generic/modal_header.html' with backdrop="static" id="listSettingsModal" title="Cancel" %}
Some content here
{% include 'rai/generic/modal_footer.html' with id="listSettingsModal" %}
{% endblock %}
