<div class="btn-toolbar mb-2 mb-md-0">
  <div class="btn-group">
    {% for action in actions %}
    <a href="{{action.url}}" class="btn btn-sm btn-outline-secondary">
      <i class="{{action.icon_font}} fa-{{action.icon}}"></i>
      {{action.label}}
    </a>
    {% endfor %}
  </div>
  <div class="button-group">
    <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle ml-2" id="btnSortOrder" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-sort-alpha-up fa-fw"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="btnSortOrder">
    </div>
  </div>
  <button class="btn btn-outline-primary btn-sm ml-2" type="button" data-toggle="modal" data-target="#filterModal" id="btnOpenFilterSettings">
    <i class="fas fa-filter fa-fw"></i>
  </button>
  <button type="button" class="btn btn-sm btn-secondary ml-2">
    <i class="{{ settings_menu.icon_font }} fa-{{ settings_menu.icon }} fa-fw"></i>
  </button>

</div>
