<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky" data-admin-menu-settings-url="{{admin_menu_settings_url}}">
    <div class="header">
      Let the content go here!
    </div>
    {% for item in items %}
    <div class="rai-main-menu-container" data-admin-menu-container-name="{{item.label}}">
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 py-2 mt-0 mb-1">
	<span>{{item.label}}</span>
	<span class="admin-menu-actions">
	  <span class="edit-field mr-2"><i class="fas fa-pen"></i></span>
	  <span class="sortable-grip"><i class="fas fa-grip-vertical"></i></span>
	  
      </h6>
      <ul class="nav flex-column mb-2">
	{% for component in item.components %}
          <li class="nav-item">
            <a class="nav-link" href="{{component.url}}">
	      <i class="{{ component.icon_font }} fa-{{ component.icon }} fa-fw"></i>
	      {{ component.label }}
            </a>
          </li>
	{% endfor %}
      </ul>
      </div>
    {% endfor %}
  </div>
</nav>
