body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar-sticky .header{
	padding:.5rem;
	background-color: rgba(0,0,0,.125);
	height: 96px;
	width: 100%;
	position: relative;
	border-bottom: 4px solid #8dae10;
	
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 205px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 144px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

#mainlist li:hover{
    background:rgba(141,174,16,.25);
}
#mainlist li:hover p,#mainlist li:hover  h5{
    color:#003560;
}
#mainlist li:hover .btn-outline-secondary{
    border-color:#0035460;
    background:#003560;
    color:#fff;
}
#mainlist li.group-header{
    background-color:rgba(0,0,0,.125);
}

.highlighted{
    padding:0;
    margin:0;
    background-color:#fc0;
}

li.pseudofirst{
    border-width: 1px!important;
    border-top-left-radius: .25rem!important;
    border-top-right-radius: .25rem!important;
}

.hideshowbutton[aria-expanded=true] .downBtn, .hideshowbutton[aria-expanded=false] .upBtn{
    display:none;
}
.hideshowbutton[aria-expanded=true] .upBtn, .hideshowbutton[aria-expanded=false] .downBtn{
    display:inline;
}
fieldset.multi-field-panel legend{
    font-size:120%;
}
.inline-child{
    border-bottom: thin #ccc dashed;
}
fieldset.multi-field-panel{
    
}
/* Larger checkboxes and radios */

.custom-control{
    
}

.custom-control-label::before {
	position: absolute;
	top: 0;
	left: -2rem;
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	pointer-events: none;
	content: "";
	background-color: #fff;
	border: #adb5bd solid 1px;
}
.custom-control-label::after {
	position: absolute;
	top: 0rem;
	left: -2rem;
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	content: "";
	background: no-repeat 50% / 50% 50%;
}
.custom-control {
	position: relative;
	display: block;
	min-height: 1.5rem;
	padding-left: 2rem;
}
.page-header{
    position:fixed;
    top:48px;
    height:96px;
    margin-left:-1.5rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
    z-index:100;
    width:83.3333%;
    background:#e7e7e7;
    border-bottom:4px solid #8dae10;
}
.heading-content-surrounder{
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	
}
.page-content{
    padding-top:1rem;
}

.page-menu-action.icon-only {
    font-size:24px;
}

.page-menu-action.icon-only .label{
    display:none;
}
.page-menu-action.icon-only:hover{

}
.page-menu-action.icon-only:hover .label{
    display:none;
}

.alert-container{
    position:relative;
    top:0;
    height:48px;
    left:0;
    padding-left:1rem;
    
}
.alert-container .alert{
    display:inline-block;
}

label.required:after{
    color: #dc3545 !important;
    content:'*';
    margin-left:.333rem;
}
ul.inline-list{
    display:inline-block;
    margin-left: .5rem;
    padding-left: 0;
}
ul.inline-list li{
    display: inline-block;
    margin-left:.5rem;
}
ul.inline-list li:first-child{
    margin-left:0rem;
}

    
/* WIDGETS */

.multiple-input-selection-list input[type="checkbox"]{
    visibility:hidden;
    width:0;
    height:0;
}

.multiple-input-selection-list .selection-list{
    height:300px;
    overflow:auto;
    position:relative;
    
}
.multiple-input-selection-list input + label .selected{
    display:none;
}
.multiple-input-selection-list input + label .not-selected{
    display:inline;
}

.multiple-input-selection-list input:checked + label .selected{
    display:inline;
}
.multiple-input-selection-list input:checked + label .not-selected{
    display:none;
}

.markdown-editor-preview {
    font-size:.875rem;
}

.markdown-editor-preview h1{
    font-size:1.3rem;
}
.markdown-editor-preview h2{
    font-size:1.1rem;
}
.markdown-editor-preview h3{
    font-size:1rem;
}
.markdown-editor-preview blockquote{
    border-left:.5rem solid rgba(0,0,0,.125);
    padding:.5rem;
    padding-left: 1rem;
	
    background:rgba(0,0,0,.05);
}
.markdown-editor .tab-content{
    border-left: 0 transparent solid;
    padding-left:0;
}


h6.sidebar-heading{
    background-color: rgba(0, 53, 96,.25);
    color:black;
}
    
.pills-panel .nav.pills .nav-link.active{
    font-weight:bold;
}

/* TypeAndSelect widget */
.type-and-select-selection{
    overflow:auto;
    position:relative;
    border-bottom: solid thin rgba(0,0,0,.125)
}
.type-and-select-selection li {
    cursor:pointer;
}
.type-and-select-selection li:hover{
    background-color:#DFDFDF;
}

.type-and-select-selection li span.status{
    color:rgba(0,0,0,.125);
    margin-right:1rem;
    padding:.5rem;
    font-size:2rem;
}
.type-and-select-selection li.selected span.status{
    color:#8dae10;
}
.type-and-select-selection li .selected-icon,
.type-and-select-selection li.selected  .not-selected-icon
{
    display:none;
}
.type-and-select-selection li  .not-selected-icon,
.type-and-select-selection li.selected  .selected-icon{
    display:inline;
}
/* Permission Selection panel */


.inline-panel-select-permissions .inline-child:focus {
    color: #495057;
    background-color: #fff;
    border-color: #007be0;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,53,96,0.25);
}

.inline-panel-select-permissions .inline-child:focus .list-group-select-header.active{
    background-color:rgba(0,53,96,1);
    color:white;
}

.inline-panel-select-permissions .inline-child .list-group-select-header.active{
    background-color:rgba(0,0,0,.125);
    color:rgba(0,53,96,.5);
}


.inline-panel-select-permissions li.list-group-item.list-group-choice:hover{
    background:rgba(141,174,16,.25);
    cursor:default;
}
.list-group-select-header{
    cursor:pointer;
}
.list-group-select-header .open-close-indicator.is-open .is-open,
.list-group-select-header .open-close-indicator.is-closed .is-closed
{
    display:inline;
}
.list-group-select-header .open-close-indicator.is-open .is-closed,
.list-group-select-header .open-close-indicator.is-closed .is-open
{
    display:none;
}

/* Template editor*/
.template-editor-preview-wrapper{
}
.template-editor-preview{
    height: 300px;
    overflow:auto;
    position:relative;
}
.template-editor-preview.template-editor-preview-not-loaded{
    cursor: pointer;
}
.template-editor-preview.template-editor-preview-not-loaded,
.template-editor-preview.template-editor-preview-loading
{
    background-color:rgba(0,0,0,.5)
}
.template-editor-preview .load-preview-indicator > div{
    display:none;
}
.load-preview-indicator .load-preview-indicator-icon{
    font-size:5rem;
}
.template-editor-preview.template-editor-preview-not-loaded .load-preview-indicator-not-loaded,
.template-editor-preview.template-editor-preview-loading .load-preview-indicator-loading
{
    display:block;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    text-align:center;
    color:rgba(255,255,255,.5);
}

/* admin menu interactions */

.sidebar-heading .admin-menu-actions{
    display: none;
}
.sidebar-heading .admin-menu-actions .sortable-grip{
    cursor:grab;
}

.sidebar-heading:hover .admin-menu-actions{
    display: inline;
}
.rai-main-menu-container .edit-field{
    cursor:pointer
}

.rai-main-menu-container .nav-item .user-actions{
    display:none;
}

.rai-main-menu-container .nav-item:hover .user-actions{
    display:inline;
}


/* X-File-Input */
.file-upload-widget{
    background-color:rgba(0,0,0,.0625);
    position:relative;
    border: thin dashed rgba(0,0,0,.125);
    
}
.file-upload-widget input[type=file] {
    position:absolute;
    top:-10000px
}
.file-upload-widget label{
    display:block;
    padding:3rem;
    text-align:center;
}
.file-upload-widget label span{
    display:block;
    margin: 0 auto;
}

.file-upload-widget label span.icon{
    font-size:2.5rem;
    margin-bottom:.5rem;
    color:rgba(0,0,0,.5)
}
/* indicator bar for multi-forms */

.multiform-indicator nav{
    overflow:hidden;
    margin-left:1rem;
}
.multiform-indicator li{
    position:relative;
    background-color: #003560;
    color:#fff;
    padding-left:1rem;
}
.multiform-indicator li:first-child{
    padding-left:.25rem;
}
.multiform-indicator li.active{
    background-color: #8dae10;
}
.multiform-indicator li a{
    color:#fff;
}
.multiform-indicator li.disabled{
    background-color: #ccc;
}
.multiform-indicator li:after{
    content: ' ';
    position: absolute;
    left:100%;
    color:#fff;
    top:50%;
    height:0;
    width:0;
    margin-top:-25px;
    border-top:25px solid transparent;
    border-bottom:25px solid transparent;
    border-left:15px solid #003560;
    z-index:2;
    
}
.multiform-indicator li:before{
    content: ' ';
    position: absolute;
    left:100%;
    color:#fff;
    top:50%;
    height:0;
    width:0;
    margin-top:-25px;
    margin-left:2px;
    border-top:25px solid transparent;
    border-bottom:25px solid transparent;
    border-left:15px solid white;
    z-index:1;
    
}
.multiform-indicator li.active:after{
    border-left:15px solid #8dae10;
}
.multiform-indicator li.disabled:after{
    border-left:15px solid #ccc;
}
/* form styling */

#main_form fieldset{
    max-width:800px;
    margin-top:3rem;
    border-left: solid 2px #003560;
    margin-left:1rem;
}

#main_form fieldset.wide{
    max-width:100%;
}

#main_form fieldset fieldset{
    max-width:100%;
    margin-top:.5rem;
    border-left: none;
    margin-left:1rem;

}
#main_form fieldset legend {
    margin-top:-3rem;
    margin-left:-1rem;
}
.form-row-wrapper .form-group,
.form-group .form-group{
    border:none;
    padding-left: 0;
    margin-bottom:.5rem;
    margin-top:0;

}

/* required fields*/
.form-group.required > label span:after{
    font-family: "Font Awesome 5 Free";
    content: "\f069";
    display: inline-block;
    margin-left:.25rem;
    vertical-align: middle;
    font-weight: 900;
    margin-top:-.5em;
    color:#dc3545;
}

/* help texts in forms */

.form-group .help-text{
    max-width:800px;
}
.rai-comment h6.label,
.inline-panel-all-options h6.label,
.input-group-wrapper.as-field h6,
.form-row-wrapper h6.label,
fieldset.multi-field-panel legend,
.form-group > label{
    font-size:larger;
    position:relative;
    overflow:visible;
    margin-left:-1rem;

}

.inline-panel-all-options .form-group label,
.input-group-wrapper .form-group label,
.form-group .form-group label,
.form-row-wrapper .form-group label {
    font-size:inherit;
}
.rai-comment,
.inline-panel-all-options,
.form-group,
.form-row-wrapper,
.input-group-wrapper.as-field{
    /* border-left:1rem solid rgba(0,0,0,.125); */
    padding-left:2rem;
    margin-top:2rem;
}
}
#main_form .alert{
    margin-left:1rem;
}

#main_form fieldset fieldset{
    margin-top:1rem;
}
#main_form fieldset fieldset legend{
    margin-top:0;
}
fieldset table tbody tr td span.fake-label:before,
.rai-comment h6.label:before,
.inline-panel-all-options h6.label:before,
#main_form .alert-danger:not(.confirmation):before, 
.form-group > label:not(.custom-control-label):before,
fieldset.multi-field-panel legend:before,
.form-row-wrapper h6.label:before,
.input-group-wrapper.as-field h6.label:before
{
    content:' ';
    position:absolute;
    width:0;
    height:0;
    left:-1rem;
    top:50%;
    margin-top:-10px;
    border-top:transparent solid 10px;
    border-bottom:transparent solid 10px; 
    border-left:#003560 solid 10px;
    z-index:1;
}
#main_form .alert:not(.confirmation):before{
    border-left-color:#dc3545;
    margin-left:-1px;
    top:15px;
}
.inline-panel-all-options .form-group label:not(.custom-control-label):before,
.alert-danger .form-group label:not(.custom-control-label):before,
.alert-danger .form-group.required label:not(.custom-control-label):before,
.multi-field .form-group label:not(.custom-control-label):before,
.multi-field .form-group.required label:not(.custom-control-label):before,
.form-row .form-group label:not(.custom-control-label):before,
.form-row .form-group.required label:not(.custom-control-label):before
{
    content:'';
    position:relative;
    margin:0;
    border:none;
    padding:0;
}
.form-row label{
    margin-left:0;
}
.alert .form-group{
    background-color:#fff;
}


.inline-panel-all-options .additional-inputs{
    margin-left:2rem;
    background-color:rgba(0,0,0,.0675);
    border: thin solid rgba(0,0,0,.125);
    border-radius:.25rem;
}
.inline-panel-all-options .list-group-item{
    margin-bottom: 0px;
}
.additional-inputs .form-group{
    margin:0;
    margin-top:1rem;
    padding-top:0
}

ul.inline-list li{
    list-style-item:none;
    display:inline-block;
}

/* list for type-and-select widget*/
.list-group.type-and-select-selection{
    z-index:100;
}


.user-profile-picture-in-comment{
    border-radius:5px;
    border:thin solid rgba(0,0,0,.25);
}


.rai-comment .markdown-editor-preview h1,
.rai-comment-content .markdown-widget-content h1{
    font-size:120%;
    text-transform:uppercase;
    font-weight:bold;
    letter-spacing:.06em;
}
.rai-comment .markdown-editor-preview h2,
.rai-comment-content .markdown-widget-content h2{
    font-size:100%;
    text-transform:uppercase;
    font-weight:bold;
    letter-spacing:.06em;
}
.rai-comment .markdown-editor-preview h3,
.rai-comment-content .markdown-widget-content h3{
    font-size:100%;
    text-transform:uppercase;
    font-weight:normal;
}

/* Changes for history view */

.history-view li.empty{
    display:none;
}
.list-of-changes dd{
    padding-left:3rem;
    padding-top:1rem;
}

.list-of-changes span{
    display:block;
}

.list-of-changes span.deletion{
    text-decoration: line-through;
}
.list-of-changes span.deletion:before{
    content: 'Alter Wert: ';
    font-weight: bold;
    color:rgba(0,0,0,.5);
    text-decoration:none;
}
.list-of-changes span.addition:before{
    content: 'Neuer Wert: ';
    font-weight: bold;
    color:rgba(0,0,0,.5);
   
}


/* prettify tables a bit */
table {
    border-bottom: 2px #003560 solid;
}
thead {
    border-bottom:2px solid rgba(0,0,0,.125);
}
th{
    padding:0 1.25rem .25rem 1.25rem;
    
    font-weight:normal;
    text-transform:uppercase;
    font-size:.875rem;
    color:#003560;
}

fieldset table {
    border-bottom: none;
    margin-left:1rem;
}

/*  fix for custom control disabled */
.custom-control-input:disabled{
    opacity:0
}

/*
  A checkbox as switch
*/

.custom-control-input.custom-control-switch input[type="checkbox"]{
    opacity:0;
}
.custom-control-switch label{
    position:relative;
    display:inline-flex;
    align-items:center;
    padding: .5rem;
    border-radius: .256rem;
    margin:0;
}
.custom-control-switch label.btn-primary{
    background-color: #003560;
    color: #fff;
}
.custom-control-switch label.btn-secondary{
    background-color:rgb(108, 117, 125);
}
.custom-control-switch label.btn-outline-primary{
    border:thin solid #003560;
}
.custom-control-switch label.btn-outline-secondary{
    border:thin solid rgb(108, 117, 125);
}
.custom-control-switch input.custom-control-input[type="checkbox"] + span.lever{
    position:relative;
    width: 2.5em;
    height: 1em;
    background-color: rgba(255,255,255,.5);
    border-radius: 0.5em;
    border: thin solid #003560;
    display: inline-block;
    margin:0 .5rem;
    
}

.custom-control-switch input.custom-control-input[type="checkbox"]:checked + span.lever:before,
.custom-control-switch input.custom-control-input[type="checkbox"]:checked + span.lever:after,
.custom-control-switch input.custom-control-input[type="checkbox"]+ span.lever:after,
.custom-control-switch input.custom-control-input[type="checkbox"]+ span.lever:before{
    content: ' ';
    position:absolute;
    border-radius:.75em;
}

.custom-control-switch input.custom-control-input[type="checkbox"]:checked + span.lever:before,
.custom-control-switch input.custom-control-input[type="checkbox"] + span.lever:before
{
    width: calc(1.5em - 1px);
    color: #fff;
    top: calc(-.25em + 1px);
    height: calc(1.5em - 2px);
    z-index:2;
}
.custom-control-switch input.custom-control-input[type="checkbox"]:checked + span.lever:before{
    left: calc(-.25em - 1px);
    background-color: #8dae10;

}
.custom-control-switch input.custom-control-input[type="checkbox"] + span.lever:before{
    left: calc(1.25em - 1px);
    background-color: #cccccc;

}
.custom-control-switch input.custom-control-input[type="checkbox"]:checked + span.lever:after,
.custom-control-switch input.custom-control-input[type="checkbox"]+ span.lever:after{
    width: calc(1.5em + 1px);
    color: #fff;
    background-color: #fff;
    top: calc(-.25em);

    height: calc(1.5em);
    z-index:1;
}
.custom-control-switch input.custom-control-input[type="checkbox"]:checked + span.lever:after{
    left: calc(-.25em - 2px);
}
.custom-control-switch input.custom-control-input[type="checkbox"]+ span.lever:after{
    left: calc(1.25em - 2px);
}
.alert-warning .custom-control-switch input.custom-control-input[type="checkbox"] + span.lever:before{
    background-color:#fff3cd;
}
.alert-warning .custom-control-switch input.custom-control-input[type="checkbox"]:checked + span.lever:before{
    background-color:#856404;
}
.alert-warning .custom-control-switch input.custom-control-input[type="checkbox"]+ span.lever:after{
    background-color:#856404;
}
.alert-warning .custom-control-switch input.custom-control-input[type="checkbox"] + span.lever{
    border-color:#856404;
    background-color:rgba(0,0,0,.25);
}
