{% load i18n %}
<div {% if backdrop %}data-backdrop="{{backdrop}}" {% endif %}class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="{{id}}filterModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered{% if size %} modal-{{size}}{% endif %}" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="{{id}}Title">{%trans title %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
