<div class="information-panel" style="border-left: 4px #003560 solid; padding-left:1rem">
  <div class="d-flex align-items-start">
    <h4>Informationen zu {{self.instance.title_trans}}</h4>
    {% if self.instance.is_leader %}
    <span class="badge badge-info ml-2">Leiter der Arbeitsgruppe</span>
    {% endif %}
  </div>
  <div>
    <address>
      {% if self.instance.email %}
      <i class="fas fa-envelope"></i> {{self.instance.email}}<br />
      {% endif %}
      {% if self.instance.phone %}
      <i class="fas fa-phone"></i> {{self.instance.phone}}<br />
      {% endif %}
    </address>
  </div>
  <div>
    Benötigte Unterweisungen: 
    {% for si_rel in self.instance.safety_instructions.all %}
    <span class="badge badge-info">{{si_rel.instruction}}</span>
    {% empty %}
    Keine
    {% endfor %}
  </div>
  {% with wg=self.instance.get_workgroup.specific %}
  <h6 class="text-primary mt-3">
    Arbeitsgruppe: {{wg.title_trans}}
    (Leitung: {{wg.get_head.specific.title_trans}})
  </h6>
  <div>
    <address>
      {% if wg.department %}{{wg.department}}<br />{% endif %}
      {{wg.institute}}<br />
      {{wg.university}}<br />
      {{wg.homepage}}
    </address>
  </div>
  {% endwith %}
  
  <h5 class="text-primary">
    <a class="hideshowbutton" href="#workgroup_members_collapsable" data-toggle="collapse" aria-expanded="false">
      <span class="downBtn mr-1"><i class="fas fa-angle-down"></i></span>
      <span class="upBtn mr-1"><i class="fas fa-angle-up"></i></span>
      Weitere Mitglieder der Arbeitsgruppe
    </a>
  </h5>
  <ul class="list-group collapse" id="workgroup_members_collapsable">
    {% for member in self.instance.get_workgroup.specific.get_members %}
    {% if self.instance.specific != member.specific %}
    <li class="list-group-item mb-0">
      <h6>{{member.specific.title_trans}}</h6>
      <p class="text-muted mb-1">Dosimeter: {{member.get_dosemeter_display}}<br />
	{% for si_rel in member.needs_safety_instructions.all %}
	<span class="badge badge-info">{{si_rel}}</span>
	{% endfor %}
      </p>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  <h5 class="text-primary">
    <a class="hideshowbutton" href="#workgroup_project_collapsable" data-toggle="collapse" aria-expanded="false">
      <span class="downBtn mr-1"><i class="fas fa-angle-down"></i></span>
      <span class="upBtn mr-1"><i class="fas fa-angle-up"></i></span>
      Aktive Projekte der Arbeitsgruppe
    </a>
  </h5>
  <ul class="list-group collapse" id="workgroup_project_collapsable">
    {% for project in self.instance.get_workgroup.specific.get_projects %}
    <li class="list-group-item mb-0">
      <h6>{{ project.title_trans }}</h6>
      <p class="mt-025 mb-2 text-secondary">Läuft bis: {{project.expire_at|default:"Kein Auslaufdatum gesetzt"}}</p>
      <div class="d-flex">
	<div class="w-50">
	  <p class="mt-025 mb-2 text-secondary">
	    <span style="font-size:larger; " >Genutzte Methoden</span>
	    <ul class="mb-2 text-secondary">
	      {% for method_rel in project.related_methods.all %}
	      <li>{{method_rel.page.title_trans}}</li>
	      {% endfor %}
	    </ul>
	  </p>
	</div>
	<div class="w-50">
	  <span class="text-secondary" style="font-size:larger">Genutzte Nuklide:</span>
	  <ul class="text-secondary">
	    {% for nuclide_rel in project.related_nuclides.all %}
	    <li>{{nuclide_rel.snippet.mass}}-{{nuclide_rel.snippet.element}}
	      <dl class="text-muted inline text-secondary">
		<dt class="text-secondary">maximale Bestellmenge (in MBq):</dt>
		<dd class="text-secondary">{{nuclide_rel.max_order|default:"Nicht angegeben"}}</dd>
		<dt class="text-secondary">pro Experiment (in MBq):</dt>
		<dd class="text-secondary">{{nuclide_rel.amount_per_experiment}}</dd>
		<dt class="text-secondary">Raum:</dt>
		<dd class="text-secondary">{{nuclide_rel.room|default:"nicht angegeben"}}</dd>
	      </dl>
	    </li>
	    
	    {% empty %}
	    <li>Keine</li>
	    {% endfor %}
	  </ul>
	  
	</div>
    </li>
    {% endfor %}
  </ul>
</div>
