{% load rai_files %}

{% with document=instance.doc %}
<li class="file-field list-group-item" data-toggle="tooltip" title="Erstellt am {{document.created_at}}, hochgeladen von {{document.uploaded_by_user.first_name}} {{document.uploaded_by_user.last_name}}">
  <div class="file-info">
    <span class="file-icon"><i class="{{document|file_icon}} fa-fw"></i></span>
    <div>
      <div>
	<h6 class="file-title editable-field-wrapper">
	  <span class="editable-field" data-activated-by="#edit-button-title-{{document.pk}}" data-edit-url="{% url "rai_file_edit" document.pk %}" data-field-label="title">{{document.title}}</span>
	  <span class="edit-button" id="edit-button-title-{{document.pk}}"><i class="fas fa-pen"></i></span>
      </h6>
	<p class="text-muted editable-field-wrapper">
	  <span class="editable-field" data-activated-by="#edit-button-desc-{{document.pk}}" data-edit-url="{% url "rai_file_edit" document.pk %}" data-field-label="description">
	    {{document.description|default:"Keine Beschreibung angegeben."}}</span>
	  <span class="edit-button" id="edit-button-desc-{{document.pk}}"><i class="fas fa-pen"></i></span>
	</p>
	
      </div>
    </div>
  </div>
  <div class="file-field-menu">
    {% if may_delete %}
    <a href="{% url "rai_file_delete" document.pk %}" class="btn
    file-delete-button ajaxify"><i class="fas fa-trash-alt"></i><span class="ml-1">Datei löschen</span></a>
    {% endif %}
    <a href="{{document.url}}" class="btn"><i class="fas fa-download"></i><span class="ml-1">Herunterladen</span></a>
  </div>
  
</li>
  
{% endwith %}
