{% load i18n %}
<div class="userdata-panel">
  <div class="alert alert-warning" role="alert">
    <i class="fas fa-exclamation-circle fa-2x fa-pull-left"></i>
    Diese Angaben werden im Normalfall vom Nutzer bereit gestellt.
    Sie sollten nur im Ausnahmefall durch einen RUBION-Mitarbeiter
    geändert werden.
    <hr />
    <div class="d-flex align-items-center">
      <div class="mr-3">Editieren: </div>
      <div class="btn-group btn-group-toggle editing-controller" data-toggle="buttons" data-editing-controler-parent-container=".userdata-panel">
	<label class="btn btn-secondary active">
	  <input type="radio" name="allow_edit" id="allow_edit_false" autocomplete="off" checked> ausgeschaltet
	</label>
	<label class="btn btn-secondary">
	  <input type="radio" name="allow_edit" id="allow_edit_true" autocomplete="off"> eingeschaltet
	</label>
      </div>
    </div>
  </div>
  {% for child in self.children %}
    {{ child.render_as_field }}
  {% endfor %}

</div>

