{% load rai_help %}
<fieldset>
  <legend class="h5">
    Der Nutzer ist Leiter einer Arbeitsgruppe
    {% help "userinput:rubionuser:inactivate:is_group_leader" "" %}
  </legend>
  <p>
    Bitte entscheide, was mit der Gruppe
    <strong>»{{object.get_workgroup}}«</strong>
    und ggf. ihren Mitgliedern und Ihren Projekten geschehen soll.
  </p>
  {% if group_leader_form.workgroup_choice.errors %}
    <div class="alert" style="background-color:rgba(0,0,0,.125)">
      {% for err in group_leader_form.workgroup_choice.errors %}
        <p><strong>{{ err }}</strong></p>
      {% endfor %}
  {% endif %}
  {{group_leader_form.workgroup_choice}}
  <!-- end of widget -->	
  {% if group_leader_form.workgroup_choice.errors %}
    </div>
    <!-- end of error -->	
  {% endif %}
  <!-- start new fieldset -->
  <fieldset class="ml-3 h6" id="new_leader_fieldset" data-rubion-depends-on-choice="workgroup_choice" data-rubion-required-values="new_leader" >
    <legend>
      <small>
	Welcher Nutzer soll neuer Leiter der Arbeitsgruppe werden
      </small>
    </legend>
    {% if group_leader_form.new_leader.errors %}
      <div class="alert" style="background-color:rgba(0,0,0,.125)">
        {% for err in group_leader_form.new_leader.errors %}
          <p><strong>{{ err }}</strong></p>
        {% endfor %}
    {% endif %}
    {{group_leader_form.new_leader}}
    {% if group_leader_form.new_leader.errors %}
      </div>
    {% endif %}
  </fieldset>
</fieldset>
