{% load rai_markdown rai_tags %}
{# the markdown widget #}

{# the bare textarea first. has to be positioned in the UI by JS #}
{% if widget.is_editable %}


{# we need a unique string in case mutliple editors are shown on one page #}
{% rand_str as rnd %}
<div class="markdown-editor" data-markdown-editor-process="{% url "rai_markdown_mardown2html" %}" data-markdown-editor-controls="#{{widget.attrs.id}}-{{rnd}}">
  <div>
  <textarea {% if widget.required %}required {% endif %}
	    name="{{widget.name}}"{% for attr,attrvalue in widget.attrs.items %}
	    {% if attrvalue is not False %} {{attr}}{% if attrvalue is not True %}="{{attrvalue}}{%if attr == "id"%}-{{rnd}}{%endif%}"{% endif %}
	    {% endif %}{% endfor %}>{% if widget.value %}{{widget.value}}{% endif %}</textarea>
  
</div>

  {% include 'rai/markdown/widgets/editor-menu.html' %}
  
  <div class="tab-content" id="{{widget.attrs.id}}-{{rnd}}TabContent">
    <div class="tab-pane fade show active" id="{{widget.attrs.id}}-{{rnd}}TabEditor" role="tabpanel" aria-labelledby="{{widget.attrs.id}}-{{rnd}}TabEditorLabel" class="markdown-editor-container">
      
      <div class="markdown-editor-textarea-container" id="{{widget.attrs.id}}-{{rnd}}TextareaContainer"></div>
    </div>
    <div class="tab-pane fade" id="{{widget.attrs.id}}-{{rnd}}TabPreview" role="tabpanel" aria-labelledby="{{widget.attrs.id}}-{{rnd}}TabPreviewLabel">
      <div class="markdown-editor-preview-outer border" id="{{widget.attrs.id}}-{{rnd}}previewOuter">
	<div class="markdown-editor-preview-spinner-container d-flex justify-content-center align-items-center" id="{{widget.attrs.id}}-{{rnd}}spinnerContainer">
	  <span><i class="fas fa-cog fa-spin" id="{{widget.attrs.id}}-{{rnd}}Spinner"></i></span>
	</div>
      
	<div class="markdown-editor-preview" id="{{widget.attrs.id}}-{{rnd}}previewContainer">Some preview here!</div>
      </div>
    </div>
  </div>
</div>
{% else %}
{# widget is shown for content only #}
{% if widget.value %}
<div class="markdown-widget-content">
  {{widget.value|md}}
</div>
{% endif %}
{% endif %}


